<div class="contact" id="contacto">
    <div class="container">
        <h2 class="title clr">Contacto de peluquería canina</h2>
        <div class=" col-md-8 col-sm-8 col-xs-7 contact-map">
            <div class="map-grid">
                <iframe src="<%= urlgooglemaps %>" title="Mapa centrado en Zona Norte"></iframe>

            </div>
        </div>

        <div class=" col-md-4 col-sm-4 col-xs-5 contact-icons">
            <div class="footer_grid_left">
                <h5><%= ciudad %></h5>
                <p>De <%= ciudad %> a Beccar.</p>
            </div>
            <div class="footer_grid_left">
                <h5> Contacto en <%= ciudad %></h5>
                <p>Whatsapp: +54 911 5919 7589</p>
            </div>
            <div class="footer_grid_left">
                <h5>Email</h5>
                <p>
                    <span><a href="mailto:sjgiusti@gmail.com">sjgiusti@gmail.com</a></span></p>
            </div>
            <div class="footer_grid_left">
                <h5>Horarios</h5>
                <p>Lun-Sab: 9 a 17 hs
                    <span>Dom: 10 a 14 hs</span>
                    <span>Solo turnos pre-programados</span></p>
            </div>
        </div>
        <div class="clearfix"> </div>

        <div class="contact-us">
            <!-- <form action="https://formspree.io/f/xgednnea" method="post"> -->
                <form action="/contacto/enviar" method="post">

                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="text" name="Name" placeholder="Nombre" required="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="text" name="LastName" placeholder="Apellido" required="">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="email" name="Email" placeholder="Email" required="">

                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">

                    <input type="text" name="phone" placeholder="Teléfono" required="">

                </div>
                <div class="clearfix"> </div>
                <div class="styled-input">

                    <textarea name="Message" placeholder="Ingrese su consulta por el servicio de Peluquería Canina en <%= ciudad %>..." required=""></textarea>
                </div>
                <div>
                    <div class="click" id="enviar-form-footer">
                        <input type="submit" value="ENVIAR">
                    </div>
                </div>
            </form>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>