<div class="portfolio" id="galeria">

    <h2 class="title">Galería</h2>

    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Mascotas 1</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Mascotas 2</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Mascotas 3</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>Mascotas 4</span></li>
            </ul>
            <div class="clearfix"> </div>
            <div class="resp-tabs-container">
                <div class="tab-1 resp-tab-content">
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g1.webp' width="338" height="234" data-big-src='home/images/g1.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Baños y Cortes para Perros en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Cortes higiénicos a domicilio para cuidar la salud de tu perro.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g2.webp' width="338" height="234" data-big-src='/home/images/g2.webp' class="img-responsive" alt="Imagen de corte de pelo de mascota" title="Peluquería Canina Móvil en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño de Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/n5.webp' width="338" height="234" data-big-src='home/images/n5.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Baños y Cortes para Perros a Domicilio en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño y secado de perros a domicilio</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g4.webp' width="338" height="234" data-big-src='/home/images/g4.webp' class="img-responsive" alt="imagen de mascota peinada" title="Peluquería Canina Móvil en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Cortes higiénicos para cuidar la salud de tu perro.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6  portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g5.webp' width="338" height="234" data-big-src='/home/images/g5.webp' class="img-responsive" alt="imagen de mascota bañada" title="Baños y Cortes de Pelo Canino en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño de Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g6.webp' width="338" height="234" data-big-src='/home/images/g6.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Peluquería Canina a Domicilio en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño para Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/n7.webp' width="338" height="234" data-big-src='home/images/n7.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Baños y Cortes para Perros en CABA Norte"/>
                            <p style='opacity:0;display:none'>Cortes higiénicos para cuidar la salud de tu perro.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g11.webp' width="338" height="234" data-big-src='home/images/g11.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Peluquería Canina a Domicilio en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Cortes higiénicos para cuidar la salud de tu perro.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                
                <div class="tab-1 resp-tab-content">
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g7.webp' width="338" height="234" data-big-src='/home/images/g7.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Baños y Cortes de Pelo Canino caba"/>
                            <p style='opacity:0;display:none'>Baño de Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g5.webp' width="338" height="234" data-big-src='/home/images/g5.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Peluquería Canina a Domicilio en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño y Corte de Pelo a Perros a Domicilio. Adicional, corte de uñas.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g12.webp' width="338" height="234" data-big-src='/home/images/g12.webp' class="img-responsive" alt="Imagen de baño y corte de pelo canino" title="Baños y Cortes de Pelo Canino en Belgrano"/>
                            <p style='opacity:0;display:none'>Baño para Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='/home/images/g11.webp' width="338" height="234" data-big-src='/home/images/g11.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Peluquería Canina a Domicilio en Villa Urquiza"/>
                            <p style='opacity:0;display:none'>Baño y Corte de Pelo a Perros a Domicilio. Adicional, corte de uñas.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="tab-1 resp-tab-content">
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g6.webp' width="338" height="234" data-big-src='home/images/g6.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Peluquería Canina a Domicilio en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño de Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g1.webp' width="338" height="234" data-big-src='home/images/g1.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Baños y Cortes de Pelo Canino en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño para Perros a Domicilio. Adicional, corte de uñas.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g4.webp' width="338" height="234" data-big-src='home/images/g4.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Corte de Pelo Canino en <%= ciudad %>" />
                            <p style='opacity:0;display:none'>Baño de Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/n4.webp' width="338" height="234" data-big-src='home/images/n4.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Peluquería Canina a Domicilio en <%= ciudad %>" />
                            <p style='opacity:0;display:none'>Baño y Corte de Pelo a Perros a Domicilio. Adicional, corte de uñas.</p>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>

                <div class="tab-1 resp-tab-content">
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g2.webp' width="338" height="234" data-big-src='home/images/g2.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Peluquería Canina Móvil en <%= ciudad %>" />
                            <p style='opacity:0;display:none'>Baño de Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g6.webp' width="338" height="234" data-big-src='home/images/g6.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Cortes y Baños Caninos en <%= ciudad %>" />
                            <p style='opacity:0;display:none'>Baño y Corte de Pelo a Perros a Domicilio. Adicional, corte de uñas.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/n6.webp' width="338" height="234" data-big-src='home/images/n6.webp' class="img-responsive" alt="Imagen de baño y peluquería canina"  title="Peluquería Canina a Domicilio en <%= ciudad %>"/>
                            <p style='opacity:0;display:none'>Baño para Perros a Domicilio. Adicional, corte de uñas.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-grids">
                        <div class="gallery-grid">
                            <img src='home/images/g7.webp' width="338" height="234" data-big-src='home/images/g7.webp' class="img-responsive" alt="Imagen de baño y peluquería canina" title="Grooming en <%= ciudad %>" />
                            <p style='opacity:0;display:none'>Baño de Perros a Domicilio. Adicional, corte de uñas. Peluquería Canina a Domicilio.</p>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>

            </div>
        </div>
    </div>
</div>