<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-CY0M95DM11"></script> <script> window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-CY0M95DM11'); </script>
	<title><%- title%></title>
	<!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->
	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Dataset",
	  "name": "Smokie - Peluquería Canina a Domicilio",
	  "description": "Peluquería canina a domicilio con baño, corte y cuidado profesional. ¡Agenda ya!",
	  "license": "https://creativecommons.org/licenses/by/4.0/",
	  "creator": {
	    "@type": "Person",
	    "name": "Smokie"
	  },
	}
	</script>
	<link rel="canonical" href="<%- canonical%>"/>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TNZMVP9M');</script>
	<!-- End Google Tag Manager -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="robots" content="index,follow" />
	<meta name="description" content="Ofrecemos servicios profesionales de baño y corte de pelo para perros a domicilio en Buenos Aires Zona Norte y CABA Norte. Reserva ahora.">
	<meta name="keywords" content="peluquería para perros, peluqueria canina caba, corte de uñas de mascotas, corte de uñas para mascotas, corte de uñas para perros, cortes de uñas para gatos, peluquería para perros, baño y peluquería canina, baño para perros, peluquería canina, peluqueria para perros, peluqueria canina a domicilio, peluqueria canina movil, peluquería canina a domicilio, belleza canina, cortes de pelo para mascotas, baños caninos, baño de perros, baño para perros a domicilio, peluqueria para mascotas a domicilio, baño de perros a domicilio, corte y lavado para perros" />
	<meta property="og:title" content=Peluquería Canina a Domicilio>
	<meta property="og:site_name" content=Smokie - Peluquería Canina a Domicilio>
	<meta property="og:url" content=https://peluqueriaparaperros.com.ar/>
	<meta property="og:description" content=Transforma el look de tu mascota sin salir de casa. Servicios de peluquería canina a domicilio: baño, corte y cuidado profesional. ¡Agenda tu cita hoy!>
	<meta property="og:type" content=business.business>
	<meta property="og:image" content=https://peluqueriaparaperros.com.ar/home/images/peluqueriacanina.webp>


	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="icon" href="/home/images/favicon.png" type="image/png">
	<link href="/home/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="/home/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/8df6b0f30c.js" crossorigin="anonymous"></script>
	<link href="/home/css/style.min.css" rel='stylesheet' type='text/css' media="all">
	<link rel='stylesheet' type='text/css' href='/home/css/jquery.easy-gallery.min.css' />
	<link href="/home/css/popuo-box.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap" rel="stylesheet">
	<link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNZMVP9M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<!-- modal-->
    <%- include("../partials/header") %>
	<!-- //modal -->
     <%- body %>
	<!-- footer-->
    <%- include("../partials/footer") %>
     <!-- /footerr-->

	<!--js working-->
	<script type='text/javascript' src='/home/js/jquery-2.2.3.min.js'></script>
	<script src="/home/js/bootstrap.min.js"></script>
	<!-- //js  working-->

	<script src="/home/js/responsiveslides.min.js"></script>

	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 900,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--// banner-->
	<!--pop-up-box video-->
	<script src="/home/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box video -->

	<!-- script for portfolio -->
	<script type='text/javascript' src='/home/js/jquery.easy-gallery.min.js'></script>
	<script type='text/javascript'>
		//init Gallery
		$('.portfolio').easyGallery();
	</script>
	<script src="/home/js/easyResponsiveTabs.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true // 100% fit in a container
			});
		});
	</script>
	<!-- //script for portfolio -->
	 <!-- script para faqs-->
	 <script type="text/javascript" src="/home/js/faqs.min.js"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/home/js/move-top.js"></script>
	<script type="text/javascript" src="/home/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<!-- for-bottom-to-top smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#" id="toTop" style="display:none"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //for-bottom-to-top smooth scrolling -->
    <!-- BOTÓN CAL -->
    <!-- Cal comentado en front con # -->
    <%#- include("partials/calc") %>

    <!-- Cal floating-popup embed code ends -->
</body>
</html>